[Unit]
Description=DDNS Update
Requires=network.target

[Timer]
Unit=corpdk-update-ddns.service
OnUnitActiveSec=1h

[Install]
WantedBy=multi-user.target
